.price {
    padding: 66px 50px 0 50px;
    &__list {
        margin-top: 91px;
        display: grid;
        grid-template: repeat(3, minmax(44px, auto)) / repeat(2, 367px);
        justify-content: space-around;
        &-item {
            display: grid;
            grid-template-rows: minmax(21px, auto) 21px;
            grid-template-columns: 377px 89px;
            align-content: space-between;
            justify-content: space-between;
        }
        &-title {
            position: relative;
            font-size: 14px;
            line-height: 21px;
            @include before_circle;
            &:before {
                top: 4px;
                left: -10%;
                transform: translateX(-50%);
                width: 15px;
                height: 15px;
            }
        }
        &-cost {
            font-size: 14px;
            line-height: 21px;
            font-weight: 700;
        }
        &-text {
            font-size: 14px;
            line-height: 21px;

        }
    }
}